*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  
}
body{
    height: 100vh;
    background-color: rgba(237, 246, 248, 0.916);
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color:rgb(252, 131, 50);
    font-size:50px;
    z-index: 1;
}
img{
    width: 100vw;
    margin-top: -20px;
    height: 45vh;
    border: none;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
input.np{
    width: 30vw;
    height: 6vh;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
    box-shadow: 2px 2px 2px rgb(143, 142, 142);
}
.forgotpassword{
    font-weight: 600;
    font-size:large;
    
}
a{
    text-decoration: none;
}
p{
    color: green;
}
.signup{
    font-weight: 600;
    font-size:large;
}
#button{
    width: 30vw;
    height: 5vh;
    border: none;
    padding-left: 10px;
    border-radius: 20px;
    font-weight: 900;
    font-size:20px;
    box-shadow: 2px 2px 2px rgba(158, 120, 255, 0.945);
    background-color: rgb(73, 73, 255);
    text-shadow: 1px 1px 1px white;
    


}
#restriction{
    color: red;
    font-size: small;
}

.np:hover{
    border: 3px solid black;
    background-color: aliceblue;
    
}

#button:hover{
    border: 2px solid rgb(237, 240, 248);
   font-size: 23px;
   text-shadow: 2px 2px 2px white;
    cursor:pointer;
}
a:hover{
    text-decoration: underline;
    font-size:20px;
}
