*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
   
}
body{
   
    background-color: rgba(4, 56, 186, 0.767);
    overflow:hidden;
}

.container{
    display: flex;
    justify-content: space-evenly;
   
   
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    justify-content: center;
  gap: 5px;
 

  
}
.image img{
    width: 50vw;
    height: 90vh;
}
h1{
    margin-bottom: 30px;
    font-weight: 900;
    font-size:50px;
    text-shadow: 3px 3px 3px rgb(4, 4, 4);
    color: rgb(250, 247, 247);
}
input{
    width: 25vw;
    height: 5vh;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
    box-shadow: 2px 2px 2px rgb(143, 142, 142);
    
}
#Button{
    height: 5vh;
    font-weight: 900;
    font-size:15px;
    box-shadow: 2px 2px 2px rgba(158, 120, 255, 0.945);
    background-color: rgb(250, 29, 37);
    color: rgb(249, 239, 239);
    border: none;
    text-shadow: 1px 1px 1px black;
}

.signin{
   color: rgb(245, 240, 110); 
   margin-top: 5px;
   font-size: 15px;
}
a{
    font-weight: 600;
    font-size:20px;
    margin-top: 30px;
    text-decoration: none;
    color: rgb(22, 21, 21);
}

 a:hover{
        text-decoration: underline;
        font-size: 23px;
        text-shadow: 2px 2px 2px white;
    }

    
 #Button:hover{
        border: 2px solid rgb(237, 240, 248);
        font-size: 20px;
        text-shadow: 2px 2px 2px rgb(15, 15, 15);
       cursor: pointer;
    }
    input:hover{
        border: 3px solid rgb(132, 141, 166);
        background-color: aliceblue;
        
    }
    #restriction ,#invalid{
        font-size:x-small;
        
        color: rgb(245, 242, 242);
    }

